{% extends 'base/base.html' %}

{% block title %}{{ room.title }} :: {% endblock title %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'room/css/room.css' %}?{{ ver }}">
{% endblock css %}

{% block nav %}
    <a class="text-button" href="{% url 'room_list' %}">대기실</a>
{% endblock nav %}

{% block top %}
    {{ room.title }}
    <a id="exit-button" class="text-button" href="{% url 'room_exit' room_id=room.id %}">나가기</a>
{% endblock top %}

{% block content %}
    <div class="content-top">게임 설정</div>
    {% if room.host.id == user.id %}
        <form id="game-form" method="POST" action="#">
            {% csrf_token %}
            {{ form.mode }}
            <div id="stage-wrapper" v-if="mode === 'C'">
                <div class="pseudo-input" v-html="'Stage '+stage"></div>
                <input type="range" v-model="stage" v-on:input="sendSetting" id="stage-slider" min="1" max="50">
            </div>
            <div id="stage-wrapper" v-else>
                <input type="hidden" id="stage-slider" value="1" min="1" max="50">
            </div>
            <button class="primary-color register-button">게임 시작</button>
        </form>
    {% else %}
        <div>
            <div class="pseudo-input no-margin" v-html="showMode()"></div>
            <div id="stage-wrapper" v-if="mode === 'C'">
                <div class="pseudo-input" v-html="'Stage '+stage"></div>
            </div>
        </div>
    {% endif %}
    <div class="divider"></div>
    <div class="content-top">플레이어</div>
    <div class="players-wrapper">
        <div v-for="index in {{ room.capacity }}" class="player-wrapper">
            <div v-if="index in players">
                <div class="player-name" :class="players[index].connect?'':'disconnect'">[[ players[index]['name'] ]]</div>
            </div>
            <div v-else>
                <div class="player-name">-</div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="content-top">관전</div>
    <div id="spectator-wrapper">
        <div v-for="spectator in spectators" class="spectator-name" :class="spectator.connect?'':'disconnect'">
            [[ spectator.name ]]
        </div>
        <div v-if="spectators.length === 0" class="spectator-name">
            -
        </div>
    </div>
{% endblock content %}

{% block script %}
{% include 'base/socket.html' %}
<script>
    const content = new Vue({
        delimiters: ['[[', ']]'],
        el: '#content-wrapper',
        data: {
            players: {},
            spectators: [],
            stage: 1,
            mode: '',
        },
        mounted: function () {
            console.log('mounted');
            this.update();
        },
        methods: {
            update(target) {

                if(target === 'reload'){
                    location.reload();
                    return;
                }

                console.log('p:',this.players);
                this.players=[1,2,3,4,5];
                axios.get('/api/room/users', {
                    params: {
                        room_id: {{ room.id }},
                    }
                })
                    .then((res) => {
                        console.log(res.data)
                        const users = res.data.room_users;

                        this.players = {};
                        this.spectators = [];

                        for(const user of users){
                            if(user.seat === 0){
                                this.spectators.push(user);
                            }
                            else{
                                this.players[user.seat] = user;
                            }
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                    });
            },
            updateSetting(setting) {
                this.mode = setting.mode;
                this.stage = setting.stage;
            },
            sendSetting() {
                socket.emit('setting', {mode:this.mode, stage:this.stage});
            },
            showMode() {
                if(this.mode === '') return '모드 선택 중';
                if(this.mode === 'O') return 'Original';
                if(this.mode === 'C') return 'Casual';
            },
        }
    });

    socket.on('setting', (name, setting) => {
        if(name === '{{ room.host.first_name }}'){
            content.updateSetting(setting);
        }
    })
</script>
{% endblock script %}
