@charset "UTF-8";
/* clear pre-set */
a, a:hover, a:visited, a:active {
  color: #000000;
  text-decoration: none; }

button {
  border: none;
  display: block; }

button:focus, select:focus, input:focus {
  outline: none; }

input {
  font-size: inherit;
  padding: 0;
  box-shadow: none; }

select {
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  background: url("http://cdn.onlinewebfonts.com/svg/img_295694.svg") no-repeat 95% center/16px;
  font: inherit; }

body {
  margin: 0;
  line-height: 1; }

/* box sizing option */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* default css */
body {
  font-family: '본고딕', 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 14px; }

.primary-color {
  background-color: #2C3D73;
  color: white; }

.primary-light-color {
  background-color: #7283A6;
  color: white; }

.error-color {
  background-color: #D9753B;
  color: white; }

.text-center {
  text-align: center; }

.text-button {
  font-weight: 500; }

/* header css */
header #header-back {
  height: 32px;
  padding: 0 20px; }
  @media all and (min-width: 500px) {
    header #header-back {
      padding: 0 4%; } }
  header #header-back #user-button-wrapper {
    font-size: 14px;
    line-height: 32px;
    float: right; }
    header #header-back #user-button-wrapper .text-button {
      margin-left: 5px;
      color: white; }
  header #header-back #nav {
    font-size: 14px;
    line-height: 32px;
    float: left; }
    header #header-back #nav a {
      color: white; }

/* body css */
#body-wrapper {
  padding: 30px 20px 20px; }
  @media all and (min-width: 500px) {
    #body-wrapper {
      padding: 30px calc(50% - 230px) 20px; } }
  #body-wrapper #top-wrapper {
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #767676; }
  #body-wrapper #content-wrapper {
    margin-top: 24px;
    padding: 40px 15px;
    border: 1px solid #767676;
    border-radius: 2px; }
    #body-wrapper #content-wrapper .content-top {
      color: #767676;
      padding: 0 0 10px 10px; }

/* footer css */
#footer {
  border-top: 1px solid #767676;
  padding: 20px; }

/* other css */
input, select, .pseudo-input {
  width: 100%;
  height: 36px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 20px;
  padding: 0 16px;
  border: 1px solid #767676;
  border-radius: 4px;
  background-color: #F5FAFF; }
  input.no-margin, select.no-margin, .pseudo-input.no-margin {
    margin-top: 0; }

.register-button {
  width: 100%;
  height: 52px;
  margin-top: 30px;
  border-radius: 4px;
  font-size: 20px; }

#hagi-text {
  margin-top: 10px;
  font-size: 14px; }
  #hagi-text .text-button {
    color: #2C3D73; }

.error-message {
  margin-top: 5px;
  padding-left: 5px;
  font-size: 12px;
  color: #D9753B;
  display: block; }

.divider {
  width: 100%;
  height: 0;
  margin: 30px 0;
  border-bottom: 1px solid #767676; }

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: #F5FAFF;
  outline: none;
  padding: 0;
  margin: 15px 0 0; }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #2C3D73;
    cursor: pointer;
    transition: background .15s ease-in-out; }
    input[type=range]::-webkit-slider-thumb:hover {
      background: #D9753B; }
  input[type=range]:active::-webkit-slider-thumb {
    background: #D9753B; }
  input[type=range]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 50%;
    background: #2C3D73;
    cursor: pointer;
    transition: background .15s ease-in-out; }
    input[type=range]::-moz-range-thumb:hover {
      background: #D9753B; }
  input[type=range]:active::-moz-range-thumb {
    background: #D9753B; }

::-moz-range-track {
  background: #F5FAFF;
  border: 0; }

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0; }

/*# sourceMappingURL=base.css.map */
