{% extends 'base/base.html' %}

{% load static %}

{% block title %}{{ room.title }} :: {% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/game.css' %}?{{ ver }}"/>
    <style>
        #top-wrapper{
            height: 10px !important;
            border-bottom: none !important;
        }
        #content-wrapper{
            margin-top: 0 !important;
        }
        p{
            margin-top: 5px;
            margin-bottom: 5px;
            line-height: 1.3;
        }
    </style>
{% endblock css %}

{% block nav %}
    <a class="text-button" href="{% url 'room_list' %}">대기실</a>
{% endblock nav %}

{% block top %}
    <div id="game-description">[[ showMode() ]] Mode / Stage [[ game.stage ]]</div>
    <a v-if="mySeat === null" id="exit-button" class="text-button" onclick="exit();" href="#">나가기</a>
    <a v-else id="exit-button" class="text-button" onclick="endGame();" href="#">게임 종료</a>
{% endblock top %}

{% block content %}
    <div class="content-top">미션</div>
    <div id="mission-wrapper">
        <p v-for="description in game.mission.descriptions">[[ description ]]</p>
    </div>
    <div class="divider"></div>
    <div class="content-top">보드</div>
    <div class="divider"></div>
    <div class="content-top">플레이어</div>
    <div class="players-wrapper">
    {% for gp in game_players %}
        <div class="player-wrapper">
            <div v-if="{{ gp.seat }} in players">
                <div class="player-name" :class="players[{{ gp.seat }}].connect?'':'disconnect'">
                    [[ players[{{ gp.seat }}]['name'] ]]
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="divider"></div>
    <div class="content-top">관전</div>
    <div id="spectator-wrapper">
        <div v-for="spectator in spectators" class="spectator-name" :class="spectator.connect?'':'disconnect'">
            [[ spectator.name ]]
        </div>
        <div v-if="spectators.length === 0" class="spectator-name">
            -
        </div>
    </div>
{% endblock content %}

{% block script %}
{% include 'base/socket.html' %}

<script>
    const content = new Vue({
        delimiters: ['[[', ']]'],
        el: '#body-wrapper',
        data: {
            players: {},
            spectators: [],
            game: {
                id: {{ room.game.id }},
                mode: '',
                stage: 0,
                mission: {
                    descriptions: [],
                }
            },
            stage: 1,
            mode: '',
            mySeat: null,
            mission: {description: ''},
        },
        created: function () {
            console.log('created');
            this.update();
        },
        mounted: function () {
            console.log('mounted');
        },
        methods: {
            update(target) {
                if(target === 'end'){
                    alert('게임이 종료됐어요..');
                    location.reload();
                    return;
                }

                axios.get('{% url 'api_game' %}', {
                    params: {
                        game_id: {{ room.game_id }},
                    }
                }).then((res) => {
                    this.game = res.data.game;
                    this.mission = res.data.mission;
                }).catch((err) => {
                    console.log(err);
                })

                axios.get('{% url 'api_room_users' %}', {
                    params: {
                        room_id: {{ room.id }},
                    }
                }).then((res) => {
                    // console.log(res.data);
                    this.mySeat = res.data.my_seat;
                    const users = res.data.room_users;

                    this.players = {};
                    this.spectators = [];

                    for(const user of users){
                        if(user.seat === null){
                            this.spectators.push(user);
                        }
                        else{
                            this.players[user.seat] = user;
                        }
                    }
                }).catch((err) => {
                    console.log(err);
                });
            },
            showMode() {
                if(this.game.mode === 'O') return 'Original';
                if(this.game.mode === 'C') return 'Casual';
                return this.game.mode;
            },
        }
    });
    const endGame = () => {
        if(!confirm("확인을 누르면 게임이 종료됩니다.")) return;
        location.href = "{% url 'room_end_game' room_id=room.id %}";
    }
    const exit = () => {
        location.href = "{% url 'room_exit' room_id=room.id %}";
    }
</script>
{% endblock script %}